.font-size-40 .gdlr-core-type-animation-item-content {
    font-size: 40px !important;
  }
  
  iframe {
    max-width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .gtranslate_wrapper {
    position: relative;
    z-index: 9999;
  }
  
  .goog-te-combo {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  #google_translate_element2 {
    display: inline-block;
    margin: 10px 0;
  }
  
  .gt_options {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
  }
  
  
  
  
  .tourmaster-user-top-bar-signup.tourmaster-show-on-mobile {
    display: none;
  }
  
  .tourmaster-user-top-bar-login.tourmaster-show-on-mobile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #000; /* Черный цвет текста */
        font-size: 16px; /* Размер шрифта */
        text-decoration: none; /* Убираем подчеркивание */
    }
  
    .tourmaster-user-top-bar-login.tourmaster-show-on-mobile::before {
    content: "\f007"; /* Код для иконки пользователя (Font Awesome) */
    font-family: "Font Awesome 6 Free"; /* Подключение правильного шрифта */
    font-weight: 900; /* Жирный стиль для FA6 */
    margin-right: 8px; /* Отступ между иконкой и текстом */
    color: #d8b21d; /* Цвет иконки */
    font-size: 24px; /* Увеличение размера иконки */
  }
  
  .tourmaster-user-top-bar-login.tourmaster-show-on-mobile span {
    display: none;
  }
  
  .traveltour-copyright-left {
  display: flex;
  flex-direction: column;
  }
  
  .traveltour-top-bar-right-text {
   display: none;
  }
  
  .traveltour-copyright-left {
    flex-wrap: nowrap;
    justify-content: space-between;
  }